* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  background-image: url("./assets/cold.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}

.app.clouds {
  background-image: url("./assets/clouds.jpg");
}

.app.snow {
  background-image: url("./assets/snow.jpg");
}

.app.sunny {
  background-image: url("./assets/sunny.jpg");
}

.app.rain {
  background-image: url("./assets/rain.jpg");
}

.app.clear {
  background-image: url("./assets/clear.jpg");
}

.main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-bar {
  display: block;
  width: 50%;
  padding: 15px;
  font-size: 20px;

  outline: none;
  background: none;
  border: none;

  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0 0 16px 16px;
  margin: -25px auto 0;

  box-shadow: 0 5px rgba(0, 0, 0, 0.2);

  color: #313131;
  transition: 0.4s ease;
}

.search-bar:focus {
  background-color: rgba(255, 255, 255, 0.85);
}

.location-box .location {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #fff;
  font-size: 102px;
  font-weight: 900;

  text-align: center;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: white;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.time-box {
  margin: 30px auto 0;
  text-align: center;
  padding: 5px;
}

.time-box .time-info {
  font-size: 40px;
  font-weight: 200;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

.time-box .time-info em {
  font-weight: 700;
}

.error-box {
  padding: 5px;
  margin: 0 auto;
  text-align: center;
}

.error-box .error-message {
  font-size: 35px;
  font-weight: 400;
  text-shadow: 3px 3px rgba(255, 255, 255, 0.2);
}

@media (orientation: portrait) {
  .main {
    width: 100vw;
    max-height: 100vh;
    padding: 25px 0;
  }
  .search-box {
    width: 100%;
  }
}
